Source: ros-jazzy-rosidl-generator-py
Section: misc
Priority: optional
Maintainer: Dharini Dutia <dharini@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-pytest <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, librosidl-runtime-c-cpp-dev, librosidl-typesupport-introspection-c-cpp-dev <!nocheck>, python3-ament-index <!nocheck>, python3-numpy <!nocheck>, python3-pytest <!nocheck>, python3-rosidl <!nocheck>, ros-jazzy-python-cmake-module <!nocheck>, ros-jazzy-rmw <!nocheck>, ros-jazzy-rosidl-typesupport-c <!nocheck>, ros-jazzy-rosidl-typesupport-fastrtps-c <!nocheck>, ros-jazzy-rpyutils <!nocheck>, ros2-test-interface-files <!nocheck>, rosidl-cmake <!nocheck>, rosidl-generator-c-cpp <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rosidl-generator-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ament-cmake, ament-cmake-cppcheck, ament-cmake-cpplint, ament-cmake-flake8, ament-cmake-pep257, ament-cmake-uncrustify, librosidl-runtime-c-cpp-dev, librosidl-typesupport-interface-dev, python3-ament-index, python3-numpy, python3-rosidl, ros-jazzy-python-cmake-module, ros-jazzy-rmw, ros-jazzy-rosidl-typesupport-c, ros-jazzy-rpyutils, rosidl-generator-c-cpp, ros-jazzy-ros-workspace
Description: Generate the ROS interfaces in Python.
